{% extends 'base.html' %}


{% block title %}add_product{% endblock title %}
{% block content%}
    <div class="container">
        <form action="#" method="post"> 
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Product name</label>
                <input name="product_name" class="form-control form-control-sm" type="text" placeholder="write your product name" aria-label=".form-control-sm example">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Specification</label>
                <textarea name="specification" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Rs</span>
                <input name="rent_price" type="text" class="form-control" placeholder="rent price" aria-label="Amount (to the nearest rupees)">
                <span class="input-group-text">.00</span>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Rs</span>
                <input name="buy_price" type="text" class="form-control" placeholder="buy price" aria-label="Amount (to the nearest rupees)">
                <span class="input-group-text">.00</span>
            </div>
            <div class="input-group mb-3">
                <label for="formFileLg" class="form-label">Large file input example</label>
                <input name="image_data" class="form-control form-control-lg" id="formFileLg" type="file" />
            </div> 
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div> 
{% endblock content %}