{% extends 'base.html' %}


{% block title %}profile{% endblock title %}

{% block content %}
    {%if user.is_authenticated %}
        <div class="container">
        <h1>vendor</h1>
        <p>want to sell products<p> <a href="/add_product">click here</a>    
        <div class="d-flex justify-content-center">
            {% for i in products %}
            <div class="card m-3" style="width: 18rem;">
                <img src='media/{{i.image_data}}' class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{i.product_name}}</h5>
                    <p class="card-text">{{i.spec}}</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>    
            {%endfor%}    
        </div>    
    </div>     
    {% else %}
        <h1>Want to sell something, login first?</h1>
    {% endif %}    
{% endblock content %}